*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background: #f0f0f0;
}

.row{
    max-width: 1400px;
    padding-top: 20px;
    height: auto;
    margin: 0 auto;
}


h1{
    border-bottom: 2px solid #b6d5e3;
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 17%;
}


/***********************************/
/*            NAVBAR              */
/*********************************/

.navbar{
    background-color: #242424;
    width: 100%;
    overflow: auto;

}


.navbar li{
    list-style: none;
    float: right;
    padding: 20px 0px;
}

.navbar li a{
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
    color: #FFFFFF;
}

.navbar li a:hover{
    color: grey; 
    background: #000000;
}


.header{
    overflow: hidden;
    position: relative;
    min-width: 100vw;
    min-height: 70vh;
    background-color:black;
    z-index: -1;
}

#videoHeader{
    position: fixed;
    min-width: 1650px;
    opacity: 0.7;
    height: auto;
    top: -250px;
    z-index: -2;
}


/***********************************/
/*          SECTION-START         */
/*********************************/

.section-start{
    position: relative;
    height: auto;
    background: #f0f0f0;
    padding-bottom: 300px;
}

.intro-boxes{
    width: 100%;
    position: absolute;
    height: auto;
    top: -150px;
}


.box-intro{
    float: left;
    width: 300px;
    margin: 0 5%;
    height: auto;
    background-color: #e3e3e3;
    border-radius: 5px;
    box-shadow: 1px 0px 5px #000000;
    transition: margin-top 1s;
}

.box-intro:hover{
    margin-top: -50px;
    box-shadow: 2px 2px 15px #000000;
}


.del1{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;          
    background-color: white;
}

.del1 img{
    padding: 10px 0;
    margin-left: 60px;
    width: 180px;
    height: auto;
    background-color: white;
}

.del2{
    width: 100%;
    padding-bottom: 10px;
}

.del2 h3{
    padding-top: 5px;
    font-size: 25px;
    color: #454545;
    text-align: center;     
}

.del2 p{
    text-align: center;
    font-size: 18px;
    padding-top:10px;
    color: #4a4a4a;
}


/***********************************/
/*          SECTION-FACT          */
/*********************************/

.section-fact{
    padding-top: 50px;
    width: 100%;
    background-color: white;
}

.intro-text{
    padding-bottom:100px;
}

.intro-text p{    
    width: 75%;
    line-height: 200%;
    font-size: 20px;    
    margin: 0 auto;
    margin-bottom: 40px;
}


/***********************************/
/*          SECTION-FOODS         */
/*********************************/

.section-foods{
    overflow: hidden;
    width: 100%;
    padding: 0;
}

.foods{
    width: 100%;
    height: auto;
}

.foods li{
    display: block;
    float: left;
    list-style: none;
}


.foods .img-big{
    width: 66%;
}

.foods .img-small{
    width: 33%;
}

.foods img {
    width: 100%;
    height: auto;
    transform: scale(1.06);
}
